<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.jixiao.user.mapper.IUserCustomMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_dynamic_id, user_id, `type`, gmt_create, gmt_modified, del_flag
    </sql>

</mapper>
