<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.jixiao.operate.mapper.IOperateActivityMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, cover_url, summary, popup_url, url, begin_time, end_time, seq, enable, popup, status, remark,
        create_sys_user_id, gmt_create, gmt_modified, del_flag
    </sql>

</mapper>
